<% @subsidiaries.each do |subsidiary| %>
    <%= link_to subsidiary.name, subsidiary_path(id: subsidiary.id) %>
<% end %>

<% if @subsidiaries.empty? %>
    <h1>Nenhuma Filial cadastrada</h1>
<% end %>


<%= link_to 'Voltar', root_path %>