<% if @customers.empty? %>
  <h1 class="header">Nenhum cliente cadastrado</h1>
<% end %>

<!-- Start Navigation Bar -->
<nav class="navbar">
  <ul class="menu">
    <!-- Dropdown content here -->
    <%= link_to 'Cadastrar um novo cliente', new_customer_path, class: 'menu_link' %>
    <%= link_to 'Voltar', root_path, class: 'menu_link' %>
  <ul>
</nav>
<!-- End Navigation Bar -->