<h1 class="header">Categorias de carros</h1>
<% if @car_categories.empty? %>
  <h1 class="header">Nenhuma categoria cadastrada</h1>
<% end %>

<!-- Start Navigation Bar -->
<nav class="navbar">
  <ul class="menu">
    <!-- Dropdown content here -->
    <li><%= link_to 'Registrar uma nova categoria', new_car_category_path %></li>
    <li><%= link_to 'Voltar', root_path %></li>
  <ul>
</nav>
<!-- End Navigation Bar -->



<% @car_categories.each do |category| %>
    <li><%= link_to category.name, category, class: 'link-to-text-color' %></li>
    <!--- maneira de cima é mais comum de usar, rails ja identifica que category é um path  --->
    <!--- <%= link_to category.name, car_category_path(id: category.id) %> -->
<% end %>
