<h1 class="header">Agendamento de carro</h1>

<!-- Start Navigation Bar -->
<nav class="navbar">
  <ul class="menu">
    <!-- Dropdown content here -->
    <li><%= link_to 'Agendar uma nova locação', new_rental_path %></li>
    <li><%= link_to 'Voltar', root_path %></li>
  <ul>
</nav>
<!-- End Navigation Bar -->