<h1 class="header">Agendamento de carro</h1>

<!-- Start Navigation Bar -->
<nav class="navbar">
  <ul class="menu">
    <!-- Dropdown content here -->
    <%= link_to 'Agendar uma nova locação', new_rental_path, class: 'menu_link' %>
    <%= link_to 'Voltar', root_path, class: 'menu_link' %>
  <ul>
</nav>
<!-- End Navigation Bar -->